.grid-product {
    float: left;
}

.product-button {
    height: 150px;
    width: 100%;
    padding: 30px;
    font-size: 24px;
    text-align: left;
    border-width: 1px;
}

.product-label {
    font-size:30px; 
    font-weight:bold; 
    padding-left:20px;
}

.select-label-format {
    font-size:30px; 
    font-weight:bold; 
    padding-top: 30px; 
    padding-bottom: 5px; 
}

.col-format {
    padding-right:35px; 
    padding-left:35px;
    padding-bottom: 30px;
}

.cart-button-format {
    float:right;
    width:65px;
    height:60px;
}
