.image-format {
    width:500px;
    height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-format {
    margin-left: auto;
    margin-right: auto;
}

.back-button-format {
    float:left;
    width:65px;
    height:60px;
}

.product-selection-format {
    font-size:30px; 
    font-weight:bold; 
    padding-right:60px;
}