.image-format {
    width:500px;
    height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
}

.list-format {
    margin-left: auto;
    margin-right: auto;
}

.quantity-text {
    margin-right:0px;
}

.clear-padding {
    padding:0px;
}

.quantity-format {
    font-size:20px;
    width:60px;
    margin:0px;
    padding-top:7px;

}
