.cart-label {
    font-size:45px; 
    font-weight:bold; 
    padding-left:50px;
}

.grid-cart {
    float: left;
}

.col-format {
    padding-right:35px; 
    padding-left:35px;
    padding-bottom: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.cart-image-format {
    width:65px;
    min-width:65px;
    height:65px;
    min-height:65px;
    float:left;
    border-radius: 3px;
}

.delete-item {
    width:32px;
    min-width:32px;
    height:32px;
    min-height:32px;
    color: #E0E6FF;

    &:hover {
        color: #FFFFFF !important;
    }
}

.cart-text-format {
    margin: 0px;
}

.cart-number-format {
    margin-top: 2px;
}

.clear-cart-button {
    float:right;
    margin:10px;
    color: #E0E6FF;

    &:hover {
        color: #FFFFFF !important;
    }
}

.image-col-width {
    width:23%;
    max-width:23%;
    min-width:23%;
    padding-right:0px;
}

.name-col-width {
    width:38%;
    max-width:38%;
    min-width:38%;
    padding-right:0px;
    padding-left:0px;
}

.quantity-col-width {
    width:10%;
    max-width:10%;
    min-width:10%;
    padding-right:0px;
    padding-left:0px;
}

.price-col-width {
    width:17%;
    max-width:17%;
    min-width:17%;
    padding-right:0px;
    padding-left:0px;
}

.delete-col-width {
    width:12%;
    max-width:12%;
    min-width:12%;
    padding-left:0px;
}

.tip-col-width {
    width:25%;
    max-width:25%;
    min-width:25%;
}

.price-format {
    float:left;
    font-size:21px;
    margin-bottom:13px;
    margin-top:13px;
}

.tip-choice {
    margin-top: 1px;
}

.extend-span {
    width:100%;
}

.tip-label {
    float:left;
    padding:0px;
    width:25%;
    max-width:25%;
    min-width:25%;
}

.tip-number {
    float:right;
    padding:0px;
    width:25%;
    max-width:25%;
    min-width:25%;
}

.row-format:hover {
    background-color: #dddddd;
}


