.cart-label {
    font-size:45px; 
    font-weight:bold; 
    padding-left:50px;
}

.grid-cart {
    float: left;
}

.col-format {
    padding-right:35px; 
    padding-left:35px;
    padding-bottom: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.cart-image-format {
    width:70px;
    min-width:70px;
    height:70px;
    min-height:70px;
    float:left;
    border-radius: 3px;
}

.delete-item {
    width:35px;
    min-width:35px;
    height:35px;
    min-height:35px;
    color: #E0E6FF;

    &:hover {
        color: #FFFFFF !important;
    }
}

.cart-text-format {
    margin: 0px;
}

.cart-price-format {
    margin-top: 2px;
}

.clear-cart-button {
    float:right;
    margin:10px;
    color: #E0E6FF;

    &:hover {
        color: #FFFFFF !important;
    }
}

.name-col-width {
    width:45%;
    max-width:45%;
    min-width:45%;
}

.tip-col-width {
    width:25%;
    max-width:25%;
    min-width:25%;
}

.price-format {
    float:left;
    font-size:21px;
    margin-bottom:13px;
    margin-top:13px;
}

.tip-choice {
    margin-top: 1px;
}

.extend-span {
    width:100%;
}

.tip-label {
    float:left;
    padding:0px;
    width:25%;
    max-width:25%;
    min-width:25%;
}

.tip-number {
    float:right;
    padding:0px;
    width:25%;
    max-width:25%;
    min-width:25%;
}


