<ion-header class="header-format">
  <ion-navbar color="nav-color">
    <ion-row>
      <button ion-button clear large class="button-core back-button-format nav-button-color" (click)="gotoCookies()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <ion-label class="center-text nav-header-format" color="text">Cart</ion-label>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #efefef">
  <ion-card>
    <ion-grid>
        <ion-row *ngFor="let item of cookies" (click)="itemDetails(item)">
          <ion-col>
            <img class="cart-image-format" src={{item.imageLocation}} />
          </ion-col>
          <ion-col text-wrap class="name-col-width">
            <ion-label class="cart-text-format" color="text"><b>{{item.name}} Cookie</b></ion-label>
            <ion-label class="cart-text-format" color="text" *ngFor="let addon of item.addOns">
              - {{addon.name}}
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="center-text cart-price-format" color="text">${{getPrice(item)}}</ion-label>
          </ion-col>
          <ion-col>
            <button ion-button class="button-core delete-item" style="float:right" (click)="removeItem(item)"><ion-icon name="trash"></ion-icon></button>
          </ion-col>
        </ion-row>
    </ion-grid>
    <button class="button-core clear-cart-button" ion-button (click)="clearCart()">
        Clear Cart &nbsp;
        <ion-icon name="trash"></ion-icon>
    </button>
  </ion-card>
  <ion-card style="padding-left:10px">
    <ion-label class="important-format" color="text">Tip</ion-label>
    <ion-row>
      <ion-col class="tip-col-width">
        <button ion-button clear class="button-core extend-button nav-button-color tip-choice" (click)="updateTip(.10)">10%</button>
      </ion-col>
      <ion-col class="tip-col-width">
        <button ion-button clear class="button-core extend-button nav-button-color tip-choice" (click)="updateTip(.15)">15%</button>
      </ion-col>
      <ion-col class="tip-col-width">
        <button ion-button clear class="button-core extend-button nav-button-color tip-choice" (click)="updateTip(.20)">20%</button>
      </ion-col>
      <ion-col class="tip-col-width">
        <ion-input placeholder="Custom" type="number" [(ngModel)]="tipForm" name="tipForm" (keyup)="changeTip()"></ion-input>
      </ion-col>
    </ion-row>
    <span class="price-format extend-span">
      <ion-row>
        <ion-col class="tip-label" color="text">Price:</ion-col>
        <ion-col class="tip-number" color="text">${{getSum()}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="tip-label" color="text">Tax:</ion-col>
        <ion-col class="tip-number" color="text">${{getTax()}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="tip-label" color="text">Tip:</ion-col>
        <ion-col class="tip-number" color="text">${{getTip()}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="tip-label" color="text"><b>Total:</b></ion-col>
        <ion-col class="tip-number" color="text"><b>${{getTotal()}}</b></ion-col>
      </ion-row>
    </span>
  </ion-card>
</ion-content>

<ion-footer class="bottom-nav-format center-text footer">
  <button ion-button clear class="button-core extend-button nav-button-color bottom-nav-text" [disabled]="isCartEmpty()" (click)="checkout()">
    Checkout
  </button>
</ion-footer>